.home-header {
  display: flex;
  margin: 30px 20px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: #ff7e6b 1px solid;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  width: 30px;
  margin-right: 10px;
}
.logo-container span {
  color: #ff7e6b;
}
.logo-container h1 {
  font-size: 22px;
  margin-right: 50px;
}
.search {
  display: flex;
  align-items: center;
}
.search input {
  border: none;
  border-bottom: 1px solid #636363;
  outline: none;
  font-size: 14px;
  width: 100px;
}
.input-display {
  display: none;
}
.search button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.scroll-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.scroll-container p {
  font-size: 12px;
}
.vertical-section {
  margin: 70px 0;
}
.horizontal-header,
.vertical-header {
  margin: 10px 25px;
  font-size: 18px;
}
.horizontal-header p,
.vertical-header p {
  font-size: 14px;
  margin: 10px 0 30px 0;
  color: #636363;
}
.horizontal-movie {
  margin-right: 20px;
  width: 500px;
  height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.horizontal-movie img {
  cursor: grab;
  width: 350px;
  height: 200px;
  border-radius: 20px;
}
.rate {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 10px 0;
}
.vertical-movie {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}
.vertical-movie img {
  cursor: grab;
  width: 180px;
  border-radius: 10px;
}

.horizontal-movie h3,
.vertical-movie h3 {
  font-size: 14px;
  width: 100%;
  margin: 10px 0;
  height: 40px;
}
.img-container {
  position: relative;
}
.icon {
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 30%;
  cursor: pointer;
}
.icon:hover,
.icon-vertical:hover {
  opacity: 0.7;
}
.icon-vertical {
  left: 25%;
  top: 30%;
  position: absolute;
  cursor: pointer;
}
