* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  transition: ease 400ms;
}
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
iframe {
  margin-right: 10px;
}
